:root {
  --primary-color: #7e4a35;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  --screen-gradient: #e6e2d3;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h5 {
  text-align: center;
  color: var(--primary-color);
  font-size: 30px;
  margin-top: 10px;
}

p {
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 0 10px 0;
  flex: 1;
  color: var(--primary-color);
}

img {
  box-shadow: var(--box-shadow);
}

.container-side {
  margin: 0 auto;
  background: var(--screen-gradient);
  padding: 20px 0;
}

.button-link {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.link {
  margin: 20px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.project-description {
  padding: 100px 0 40px 0;
}

.p-text {
  text-indent: 40px;
}

.app {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.button-launch {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.button-launch:hover {
  background: var(--primary-color);
  color: white;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.contact {
  margin-top: 20px;
}

.icon {
  display: flex;
  color: #7e4a35;
  font-size: 60px;
  justify-content: space-evenly;
  margin-top: 20px;
}

#contact {
  background: var(--primary-color);
  color: white;
}
#about {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

@media (max-width: 991px) {
  h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
  }
}
